*{
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
    font-weight: 400;
}
body{
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
    font-weight: 400;
}
h2{
    background-color: blue;
    color: red;
    padding: 30px;
}
#heading{
     background-color: blue;
    color: red;
    padding: 30px;
}
.headingnew{
     background-color: rgb(0, 255, 13);
    color: black;
    padding: 30px;
}
